/* External CSS */

body {
  /* body er en CSS selector
  {} indikerer en CSS Declaration */
  /* property:value; som er en CSS rule */
  background: url("srimps.jpg") no-repeat;
  background-size: cover;
  color:chocolate;
  font-family: "Comic Sans MS";
  font-weight: 900;

  background-color: darkolivegreen;
  /*
  background: linear-gradient(90deg, #ff00ff 0%, #ffa0a0 100%);
  */
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* id-navn selector */
#home

/* class-navn selector */
/* class-navn selector */
ListItemHome; 
